<!DOCTYPE html>
<html>
<head>
    <title>Carte Leaflet Simple</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Inclure Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <!-- Inclure Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Inclure votre fichier JavaScript personnalisé -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div id="mapid" style="width: 1350px; height: 700px;"></div>

    <script>
        var mymap = L.map('mapid').setView([51.505, -0.09], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 25
        }).addTo(mymap);

        loadCustomScript();
    </script>
</body>
</html>
